<!-- /.parallax full screen background image -->
<div class="fullscreen landing parallax" style="background-image:url('{{ asset('images/bg.jpg')}}');" data-img-width="2000" data-img-height="1333" data-diff="100">

    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                    <!-- /.logo -->
                    <div class="logo wow fadeInDown">
                      <a href="/">
                        <img src="{{ asset('images/logo.png')}}" alt="logo">
                      </a>
                    </div>

                    <!-- /.main title -->
                    <h1 class="wow fadeInLeft">
                        Celebrate it <br>by saving lives!
                    </h1>

                    <!-- /.header paragraph -->
                    <div class="landing-text wow fadeInUp">
                        <p>
                          <!-- NOTE: -->
                          It is especially beneficial to save animals or fish if the astrological aspect relating to one's life force or 'sog' is negative in the current year. This depends on your year of birth.
                        </p>
                    </div>

                    <!-- /.header button -->
                    <!--
                    <div class="head-btn wow fadeInLeft">
                        <a href="#feature" class="btn-primary">Features</a>
                        <a href="#download" class="btn-default">Download</a>
                    </div>
                    -->


                </div>

                <!-- /.signup form -->
                <div class="col-md-5" id="donateContentBox">
                    <div class="signup-header " id="donate2" style="display:none;">
                      <form class="form-header" action=""id="formDonate2">
                        <h3 class="form-title text-center">
                          Complete Donation
                        </h3>
                        <div style="color:#ffffff;">

                          <div class="row">
                            <div style="display:inline-block;">
                              <img src="{{ asset('images/ifish.png')}}" alt="" />
                            </div>
                            <div style="display:inline-block;">
                              <b>Fish:</b> &pound;1.50 X
                              <span class="fishsN"></span> =
                              &pound;<span class="fishsPrice"></span>
                            </div>
                          </div>

                          <div class="row">
                            <div style="display:inline-block;">
                              <img src="{{ asset('images/igoat.png')}}" alt="" />
                            </div>
                            <div style="display:inline-block;">
                              <b>Gaot:</b> &pound;145 X
                              <span class="goatsN"></span> =
                              &pound;<span class="goatsPrice"></span>
                            </div>
                          </div>
                        </div>

                        <input type="hidden" name="u" value="503bdae81fde8612ff4944435">
                        <input type="hidden" name="id" value="bfdba52708">

                        <input type="hidden" name="fishsN" id="fishsN" value="">
                        <input type="hidden" name="goatsN" id="goatsN" value="">

                        <input type="hidden" name="fishsPrice" id="fishsPrice" value="">
                        <input type="hidden" name="goatsPrice" id="goatsPrice" value="">


                        <div class="form-group">
                            <input class="form-control input-lg" name="MERGE1" id="name" type="text" placeholder="Your name" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" name="MERGE0" id="email" type="email" placeholder="Email address" required>
                        </div>
                        <div class="form-group last">

                          <input type="text" name="donation" value="" class="donation" id="donationPrice1" readonly="readonly">

                          <input type="submit" class="btn btn-warning btn-block btn-lg js-sendEmailDonation" value="DONATE">
                        </div>
                        <p class="privacy text-center">
                          <a href="#" class="js-goBackAndChangeDonationItems">
                            <i class="fa fa-reply"></i>
                            go back and change donation items
                          </a>
                        </p>
                      </form>
                    </div>

                    <div class="signup-header wow fadeInUp" id="donate1">
                      <form class="form-header" action=""id="formDonate1">
                        <!-- <h3 class="form-title text-center">DONATE NOW!</h3> -->
                        <br>
                        <div class="donate1">

                          <div class="row" style="padding-bottom:5px;">
                            <div class="col-xs-9">
                              <span class="title">
                                <img src="{{ asset('images/ifish.png')}}" alt="" style="float:left;" />
                                <b>Fish Release:</b>
                                <br>
                                &pound;1.50 per fish
                              </span>
                            </div>
                            <div class="col-xs-3">
                              <select class="form-control input-lg js-fishs-select" name="fishs" id="fishs" >
                                <option value="">loading...</option>
                              </select>
                            </div>
                          </div>

                          <div class="row" style="border-top:0px solid #efefef;padding-top:15px;">
                            <div class="col-xs-9">
                              <span class="title">
                                <img src="{{ asset('images/igoat.png')}}" alt="" style="float:left;" />
                                <b>Goat Release:</b>
                                <br>
                                &pound;145 per goat
                              </span>
                            </div>
                            <div class="col-xs-3">
                              <select class="form-control input-lg js-goats-select" name="goats" id="goats" >
                                <option value="">loading...</option>
                              </select>
                            </div>
                          </div>

                          <div class="form-group last">
                              <input type="text" name="donation" value="&pound;0" class="donation" id="donationPrice" readonly="readonly">
                              <p class="js-noDonationInfo bg-warning text-center" style="color:#000000;font-size:14px;">
                                Select a quantity of animals to release.
                              </p>
                              <input type="submit" class="js-sendDonation btn btn-warning btn-block btn-lg" value="DONATE" style="display:none;">
                          </div>

                          <p class="text-center">
                            Deadline for orders 31th march
                          </p>


                          </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- NAVIGATION -->
<div id="menu">
    <nav class="navbar-wrapper navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-backyard">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand site-name" href="#top"><img src="{{ asset('images/logo2.png')}}" alt="logo"></a>
            </div>

            <div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#intro">About</a></li>

                    <li><a href="#AstrologicalAspect">Astrological Aspect</a></li>

                    <li><a href="#ChatralRinpoche">Chatral Rinpoche</a></li>

                    <li><a href="#DonationsbyBankTransfer">Donations by Bank Transfer</a></li>
                    <!--
                    <li><a href="#testi">Reviews</a></li>
                    <li><a href="#contact">Contact</a></li>
                    -->

                    <li><a href="#top">Donate</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- /.intro section -->
<div id="intro">
    <div class="container">
        <div class="row">


            <!-- /.intro content -->
            <div class="col-md-6 wow slideInLeft">
                <h2>The benefit of saving lives:</h2>
                <p>
                  Save the lives of animals awaiting slaughter! In Tibetan this practice is known as 'tshe thar', life release. Here you can buy fish and goats in Nepal. They will be released into environments where they will be able to live undisturbed, such as natural sanctuaries where hunting and fishing is prohibited. The fish and animals will be blessed with mantras and given myong grol (liberation through tasting), precious substances that give the animals a good cause for higher future rebirth. It is customary to save a number of animals equal to your age. So for example a 25 year old would save 25 fish. However you can choose to save any number of animals that you want. Since a human being can commit no greater sin than taking the life of another living being, by implication, there is no greater source of accumulating merit than saving life.
                </p>
            </div>

            <!-- /.intro image -->
            <div class="col-md-6 intro-pic wow slideInRight">
                <img src="{{ asset('images/intro-image.jpg')}}" alt="image" class="img-responsive">
            </div>

        </div>
    </div>
</div>

<!-- /.feature section -->
<div id="AstrologicalAspect">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">

                <!-- /.feature title -->
                <!--
                <h2>Recreate your ideas and gain more success</h2>
                <p>Increase your user loyalty by maintaining mutual communication and nurturing your online community.</p>
                -->
            </div>
        </div>
        <div class="row row-feat">
            <div class="col-md-4 text-center">

                <!-- /.feature image -->
                <div class="feature-img">
                    <img src="{{ asset('images/feature-image.jpg')}}" alt="image" class="img-responsive wow fadeInLeft">
                </div>
            </div>

            <div class="col-md-8">

                <!-- /.feature 1 -->
                <p class=" wow fadeInUp" data-wow-delay="0.2s">
                  As advised in the astrological system devised by Namkhai Norbu Rinpoche and found in the Merigar Diary, in this current year those who are particularly advised to save lives are those people born in the following years
                  (beware that the Tibetan lunar year usually starts in February or March so you must check exactly in which year his birth is considered to have taken place in):
                  <br><br>
                  1925, 1926, 1927, 1928, 1931, 1932, 1933, 1934, 1937, 1938, 1939, 1943, 1944, 1945, 1946, 1949, 1950, 1951, 1952, 1955, 1956, 1957, 1958, 1961, 1962, 1963, 1964, 1967, 1968, 1969, 1970, 1973, 1974, 1975, 1976, 1979, 1980, 1981, 1982, 1985, 1986, 1987, 1988, 1991, 1992, 1993, 1994, 1997, 1998, 1999, 2000, 2003, 2004, 2005, 2006, 2009, 2010, 2011, 2012, 2015, 2016

                  <br><br>

                  By buying animals you are saving their lives and also contributing to the activities of Shang Shung institute UK and of the sangha of
                  <a href="http://ssits.org/v1/#H.E" target="_blank">H.E Chatral Rinpoche</a>.
                  Thank you for your participation!

                  <br><br>

                  <i>
                    To simplify banking transactions, you can also collect money together with your friends, and then send it together in a single transaction.
                  </i>
                </p>





            </div>
        </div>
    </div>
</div>



<div id="ChatralRinpoche">
    <div class="container">
        <div class="row">

            <!-- /.feature content -->
            <div class="col-md-6 wow fadeInLeft">
                <h2>
                  Benefits of Saving Lives
                  by Chatral Rinpoche
                </h2>
                <p>
                  I bow down before the Lama, Buddha Amitayus,<br>
                  And the bodhisattvas in training.<br>
                  I shall now in brief describe the benefits<br>
                  Of freeing animals and ransoming their lives.<br>
                  To save animals from slaughter or any mortal danger,<br>
                  With an entirely pure motivation and conduct,<br>
                  Is without doubt a practice to be taken up<br>
                  By all followers of the Buddha Shakyamuni.<br>
                  Many sutras, tantras and commentaries<br>
                  Describe in detail the advantages it brings,<br>
                  And countless learned and accomplished masters of India and Tibet<br>
                  Have stressed the value and importance of benefitting beings.<br>
                  Even in the basic vehicle one avoids inflicting harm on others,<br>
                  In the mahayana this is the very training of a bodhisattva,<br>
                  And in the secret mantra, a principal samaya of the ratna family.<br>
                  The reasoning behind this is as follows: in this world,<br>
                  Nothing is as dear to someone as his or her own life,<br>
                  So no greater crime is there than taking life away,<br>
                  And no conditioned virtue brings greater merit<br>
                  Than the act of saving beings and ransoming their lives.<br>
                  Therefore, should you wish for happiness and good,<br>
                  Exert yourself in this, the most supreme of paths,<br>
                  Which is proven through scriptures and through reasoning,<br>
                  And is free of obstacles and potential dangers.<br>
                  Consider your own body and with this as an example,<br>
                  Avoid doing anything that might bring harm to others.<br>
                  Make every effort not to kill any living creature,<br>
                  Birds, fish, deer, cattle and even tiny insects,<br>
                  And strive instead to save their lives,<br>
                  Offering them protection from every fear.<br>
                  The benefit of doing so is beyond imagining.<br>
                  This is the best practice for your own longevity,<br>
                  And the greatest ritual for the living or deceased.<br>
                  It is my main practice of benefitting others.<br>
                  It dispels all external and internal adversity and obstacles,<br>
                  Effortlessly and spontaneously, it brings favourable conditions,<br>
                  And, when inspired by the noble mind of bodhichitta and<br>
                  Completed with dedication and pure aspiration prayers,<br>
                  It will lead one to complete enlightenment,<br>
                  And the accomplishment of one’s own and others’ welfare—<br>
                  Of this you need have no doubts at all!<br>
                  Those whose minds incline to virtue and acts of merit,<br>
                  Should prohibit hunting and fishing on their land.<br>
                  Some birds, in particular, such as geese and cranes,<br>
                  Are impelled by their karma to migrate<br>
                  And fly south in autumn, north in spring.<br>
                  At times, weary from the efforts of their flight,<br>
                  Or having lost their way, some are forced to land,<br>
                  Distressed, afraid and anxious; when this happens,<br>
                  You should not throw stones or shoot at them,<br>
                  Nor try to kill them or do them any harm,<br>
                  But protect them so they may easily fly once more.<br>
                  To offer care and affection to sentient beings<br>
                  In desperate situations who lack protection<br>
                  Brings just as much merit as the meditation<br>
                  On emptiness with compassion as its core—<br>
                  So it has been said by glorious Lord Atisha.<br>
                  Lamas, officials, monks, nuns, men and women,<br>
                  In all the places over which you have control,<br>
                  Exert every influence and do all within your power<br>
                  To release animals and ransom their lives,<br>
                  While encouraging others to do the same.<br>
                  In all those places where this is done,<br>
                  Sickness among people and livestock will cease,<br>
                  Harvests will be plentiful and life will be long.<br>
                  All will enjoy happiness and wellbeing in abundance,<br>
                  And at death let go of deluded experience,<br>
                  Before finding an excellent rebirth within the higher realms.<br>
                  Ultimately, there is no doubt that this will lead one easily<br>
                  To find the supreme and perfect state of awakening.<br>
                  In response to the request of Doctor Dordrak,<br>
                  Who offered a pure silk scarf and a hundred Nepali rupees,<br>
                  The one called Chatral Sangye Dorje,<br>
                  Who strives continuously to ransom lives,<br>
                  Wrote down spontaneously whatever came to mind.<br>
                  By the merit of this may all sentient beings<br>
                  Come to practise enlightened actions!<br>
                  Mamakoling samanta!<br>
                  | Translated by Adam Pearcey, 2005<br>
                </p>



            </div>

            <!-- /.feature image -->
            <div class="col-md-6 feature-2-pic wow fadeInRight">
                <img src="{{ asset('images/feature2-image.jpg')}}" alt="macbook" class="img-responsive">
            </div>
        </div>

    </div>
</div>


<div id="DonationsbyBankTransfer">
    <div class="action fullscreen parallax" style="background-image:url('/images/bg.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">
        <div class="overlay">
            <div class="container">
                <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">

                    <!-- /.download title -->
                    <h2 class="wow fadeInRight">
                      Donations by Bank Transfer:
                    </h2>
                    <p class="download-text wow fadeInLeft">

                      <p class="donationsBankTransfer">
                        - If you wish to donate for your animal release by bank transfer, please use 'VESAKDONATION' as your reference using the bank details below
                        <br>
                        - Deadline for orders 31th March
                        <br>
                        - Email us the quantity of fish (&pound;1.50 each) and or goats (&pound;145 each) you would like to release and the total you have transferred to our bank account using this email address: animalrelease@shangshunguk.org

                      </p>
                      <br>
                      <p class="donationsBankTransfer">
                        Bank Details:
                        <br>
                        Bank Name: HSBC | A/C Name: Shang Shung UK LTD | Sort Code: 40-03-36 | A/C Number: 21333585
                        <br>
                        IBAN: GB40MIDL40033621333585 | BIC: MIDLGB2140V
                      </p>


                    </p>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- /.footer -->
<footer id="footer">
    <div class="container">
        <div class="col-sm-4 col-sm-offset-4">
            <!-- /.social links -->
            <div class="social text-center">
                <ul>
                    <li><a class="wow fadeInUp" href="https://twitter.com/shangshunguk"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="wow fadeInUp" href="https://www.facebook.com/pages/The-London-Institute-of-Tibetan-Studies-Shang-Shung-UK/154321204578917" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                    <!--
                    <li><a class="wow fadeInUp" href="https://plus.google.com/" data-wow-delay="0.4s"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="wow fadeInUp" href="https://instagram.com/" data-wow-delay="0.6s"><i class="fa fa-instagram"></i></a></li>
                    -->
                </ul>
            </div>
            <div class="text-center wow fadeInUp" style="font-size: 14px;">
              Losar 2017 -
              For more information please write to: <a href="mailto:lungtas@shangshunguk.org">lungtas@shangshunguk.org</a>
              <br>
              Shang Shung UK Ltd.
            </div>
            <a href="#" class="scrollToTop"><i class="pe-7s-up-arrow pe-va"></i></a>
        </div>
    </div>
</footer>
